@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global scrollbar styling */
body::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
